.info-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  gap: 20px;
  font-family: var(--font-family-main);

  &__about-image {
    max-width: 531px;
    max-height: 307px;

    img {
      width: 100%;
    }
  }

  &__btn {
    display: flex;
    font-family: 'TTLakes-Medium', sans-serif;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    padding: 15px;
    cursor: pointer;
  }

  &__btn::before {
    content: url('../img/expand.png');
  }

  //js click to read more

  &__about-item {
    height: auto;
  }

  .rotate::before {
    transform: rotate(180deg);
  }
  &__tablet-content > span {
    display: none;
  }
  .content-show {
    display: inline-block;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    &__tablet-content {
      display: none;
    }
  }
}
