body {
  font: var(--font-m);
  color: var(--text-color);
  background-color: #f2f2f2;
}

.container {
  display: grid;
  grid-template-columns: 320px auto;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  .sidebar {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background-color: white;
  }

  .header {
    display: none;
  }

  .main {
    height: 100%;
    width: 100%;
    background-color: var(--main-background);
  }

  @media screen and (max-width: 1120px) {
    grid-template-columns: 1fr;
    grid-template-rows: 88px auto;
    align-items: center;

    .aside {
      height: 100%;
    }

    .main {
      border-top: 1px solid #d9fff5;
      overflow: auto;
    }

    .main::-webkit-scrollbar {
      display: none;
    }

    /* Скрываем scrollbar для IE, Edge и Firefox */
    .main {
      -ms-overflow-style: none; /* IE и Edge */
      scrollbar-width: none; /* Firefox */
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      &__tablet {
        display: flex;
        gap: 44px;
      }

      &__icons-box {
        display: inline-flex;
        gap: 16px;
        position: relative;
        align-items: center;
      }

      &__icons-box_tablet-icons {
        display: inline-flex;
        gap: 16px;
        position: relative;
      }

      &__icons-box > a:after {
        content: '';
        border-left: 2px solid var(--line-color);
        width: 0;
        height: 40px;
        position: absolute;
        top: 8px;
        right: -20px;
      }

      .button__line:after {
        content: '';
        border-right: 2px solid var(--line-color);
        width: 0;
        height: 40px;
        position: absolute;
        top: 3px;
        left: 60px;
      }
    }

    .main-page__text-icons {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .header__icons-box_tablet-icons {
      display: none;
    }
  }
}
